<style>
  select option{
    background: #27293d;
  }
</style>


<div class="container py-5">

  <div class="row justify-content-sm-center py-5">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header text-center">
          <h4 class="title">Add Reset Time</h4>
        </div>
        <%= form_for([:admin, @restriction]) do |f| %>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-sm-12 offset-lg-3">
                <div class="form-group">
                  <% if @restriction.errors.any? %>
                    <ul>
                      <% @restriction.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12 offset-lg-3">
                <div class="form-group">
                  <label>Limit</label>
                  <%= f.number_field :limit, placeholder: "Limit", class: "form-control", min: 1 %>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12 offset-lg-3">
                <div class="form-group">
                  <label>Select Time</label>
                  <%= f.select :unit, options_for_select([["Select a Time", ""], ["minutes", "minutes"], ["hours", "hours"], ["days", "days"]], @restriction.unit), {}, class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div>
              <div class="col-lg-6 col-sm-12 offset-lg-3">
                <%= f.submit nil, class: "btn btn-fill btn-primary" %>  
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>