<style>
  select option{
    background: #27293d;
  }
</style>


<div class="container py-5">

  <div class="row justify-content-sm-center py-5">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header text-center">
          <h4 class="title">Add User</h4>
        </div>
        <%= form_for @subadmin, url: "/admin/subadmins/#{@subadmin.id}", method: :put do |f| %>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-sm-12 offset-lg-3">
                <div class="form-group">
                  <% if @subadmin.errors.any? %>
                    <ul>
                      <% @subadmin.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12 offset-lg-3">
                <div class="form-group">
                  <label>Select Page</label>
                  <%= f.collection_select(:content_ids, Content.all, :id, :name,{}, {multiple: true, class: "form-control"}) %>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12 offset-lg-3">
                <div class="form-group">
                  <label>Email</label>
                  <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
                </div>
              </div>

              <div class="col-lg-6 col-sm-12 offset-lg-3">
                <div class="form-group">
                  <label>Password</label>
                  <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
                </div>
              </div>
              
              <div class="col-lg-6 col-sm-12 offset-lg-3">
                <div class="form-group">
                  <label>Confirm Password</label>
                  <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control" %>
                </div>
              </div>

              <div class="col-lg-6 col-sm-12 offset-lg-3">
                <div class="form-group">
                  <label>Can Add How Many Pages?</label>
                  <%= f.number_field :page_count, placeholder: "1", class: "form-control" %>
                </div>
              </div>

              <div class="col-lg-6 col-sm-12 offset-lg-3">
                <div class="form-group">
                  <label>Redirects Per Page</label>
                  <%= f.number_field :redirect_count, placeholder: "1", class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
          <%= f.hidden_field :role, value: "sub" %>
          <div class="card-footer">
            <div>
              <div class="col-lg-6 col-sm-12 offset-lg-3">
                <%= f.submit nil, class: "btn btn-fill btn-primary" %>  
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>